.App {
  text-align: center;
  border: 2px rgb(118, 138, 252) solid;
  padding-bottom: 2rem;
  width: 25rem;
  margin: 0px auto;
  border-radius: 10px;
  margin-top: 5%;
  background: rgb(195, 203, 243);
}
.name{
  display: flex;
  justify-content: space-between;
  align-items: center;
border-bottom: 2px solid rgb(174, 185, 250);
  height: 35px;

  text-decoration: none;
}
.dateInp{
  border-radius: 10px;
  border: 0;
  height: 25px;
}
.trash{
  cursor: pointer;
}
.title-done{
  text-decoration: line-through;
}
.mark{
text-decoration: none;

}

.addInp{
  border-radius: 10px;
    width: 15em;
    height: 1.5em;
    border: 2px rgb(161, 161, 161) solid;
    background: rgb(212, 212, 212);
    margin-right: 10px;
}
.addInp:focus{
  outline: 0;
  transform: translateY(2px);
}
.dateInp:focus{
  transform: translateY(2px);
}
.addBtn{
  margin-top: 10px;
  border-radius: 10px;
  background: #4462e9;
  border: 0;
  height: 25px;
  width: 60px;
  cursor: pointer;
  color: white;
}
.addBtn:hover{
  background: #31468a;
}
.addBtn:active{
  transform: translateY(2px);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
